n8n-workflows/daily-digest.json
{
  "name": "LCC Daily Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 8:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH board_summary AS (\n  SELECT board_name, list_name, COUNT(*) as card_count\n  FROM trello.v_cards\n  WHERE closed = false\n  GROUP BY board_name, list_name\n),\nin_progress AS (\n  SELECT board_name, card_name, last_activity,\n    EXTRACT(DAY FROM NOW() - last_activity)::int as days_inactive\n  FROM trello.v_cards\n  WHERE closed = false\n    AND list_name IN ('In Progress', 'W trakcie', 'Doing', 'Review')\n),\nstale_cards AS (\n  SELECT board_name, list_name, card_name,\n    EXTRACT(DAY FROM NOW() - last_activity)::int as days_inactive\n  FROM trello.v_cards\n  WHERE closed = false\n    AND list_name NOT IN ('Done', 'Ukończone', 'Backlog')\n    AND (labels NOT LIKE '%Blocked%' OR labels IS NULL OR labels = '')\n    AND last_activity < NOW() - INTERVAL '14 days'\n),\nblocked AS (\n  SELECT board_name, card_name\n  FROM trello.v_cards\n  WHERE closed = false AND labels LIKE '%Blocked%'\n),\ntotals AS (\n  SELECT\n    COUNT(*) FILTER (WHERE closed = false) as total_open,\n    COUNT(*) FILTER (WHERE closed = false AND list_name IN ('In Progress', 'W trakcie', 'Doing')) as total_wip,\n    COUNT(*) FILTER (WHERE closed = false AND labels LIKE '%Blocked%') as total_blocked\n  FROM trello.v_cards\n)\nSELECT json_build_object(\n  'totals', (SELECT json_build_object('open', total_open, 'wip', total_wip, 'blocked', total_blocked) FROM totals),\n  'in_progress', (SELECT COALESCE(json_agg(json_build_object('board', board_name, 'card', card_name, 'days', days_inactive)), '[]'::json) FROM in_progress),\n  'stale', (SELECT COALESCE(json_agg(json_build_object('board', board_name, 'list', list_name, 'card', card_name, 'days', days_inactive) ORDER BY days_inactive DESC), '[]'::json) FROM stale_cards),\n  'blocked', (SELECT COALESCE(json_agg(json_build_object('board', board_name, 'card', card_name)), '[]'::json) FROM blocked),\n  'boards', (SELECT COALESCE(json_agg(json_build_object('board', board_name, 'list', list_name, 'count', card_count) ORDER BY board_name, list_name), '[]'::json) FROM board_summary)\n) as digest;",
        "options": {}
      },
      "id": "postgres-digest",
      "name": "Query Digest Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0],
      "credentials": {
        "postgres": {
          "id": "02LUR81o7AhACOX4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.digest;\nconst d = typeof raw === 'string' ? JSON.parse(raw) : raw;\n\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('pl-PL', { weekday: 'long', day: 'numeric', month: 'long' });\n\nlet msg = `📋 *LCC Daily Digest*\\n${dateStr}\\n\\n`;\n\n// Totals\nmsg += `📊 *Podsumowanie:* ${d.totals.open} otwartych`;\nif (d.totals.wip > 0) msg += ` | ${d.totals.wip} In Progress`;\nif (d.totals.blocked > 0) msg += ` | ${d.totals.blocked} Blocked`;\nmsg += '\\n\\n';\n\n// In Progress\nif (d.in_progress.length > 0) {\n  msg += `🔄 *In Progress (${d.in_progress.length}):*\\n`;\n  for (const c of d.in_progress) {\n    msg += `  • ${c.card} _(${c.board}, ${c.days}d)_\\n`;\n  }\n  msg += '\\n';\n}\n\n// Blocked\nif (d.blocked.length > 0) {\n  msg += `🚫 *Blocked (${d.blocked.length}):*\\n`;\n  for (const c of d.blocked) {\n    msg += `  • ${c.card} _(${c.board})_\\n`;\n  }\n  msg += '\\n';\n}\n\n// Stale — top 5 only\nif (d.stale.length > 0) {\n  const top5 = d.stale.slice(0, 5);\n  msg += `⚠️ *Stale (${d.stale.length} kart >14 dni bez aktywności):*\\n`;\n  for (const c of top5) {\n    msg += `  • ${c.card} _(${c.board}, ${c.days}d)_\\n`;\n  }\n  if (d.stale.length > 5) {\n    msg += `  _...i ${d.stale.length - 5} więcej_\\n`;\n  }\n  msg += '\\n';\n}\n\n// WIP alert\nif (d.totals.wip > 3) {\n  msg += `🔴 *WIP ALERT:* ${d.totals.wip} kart In Progress (limit: 3)\\n\\n`;\n}\n\n// Board breakdown — compact\nmsg += `📁 *Boardy:*\\n`;\nconst boards = {};\nfor (const b of d.boards) {\n  if (!boards[b.board]) boards[b.board] = [];\n  if (b.list !== 'Done' && b.list !== 'Ukończone') {\n    boards[b.board].push(`${b.list}: ${b.count}`);\n  }\n}\nfor (const [name, lists] of Object.entries(boards)) {\n  if (lists.length > 0) {\n    msg += `  • ${name}: ${lists.join(', ')}\\n`;\n  }\n}\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "chatId": "502308168",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 0],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "LCC Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Daily 8:00": {
      "main": [
        [{ "node": "Query Digest Data", "type": "main", "index": 0 }]
      ]
    },
    "Query Digest Data": {
      "main": [
        [{ "node": "Format Message", "type": "main", "index": 0 }]
      ]
    },
    "Format Message": {
      "main": [
        [{ "node": "Send Telegram", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Warsaw"
  }
}
